<h1>Tenants#index</h1>
<p>Find me in app/views/tenants/index.html.erb</p>


<% @tenants.each do |tenant| %>
	<div class="myList">
		<ul>
			<li><%= link_to(tenant.name, tenant) %></li>
			<li><%= tenant.name %></li>
		</ul>
	</div>
<%end%>
	
