<h1>Reviews#index</h1>

<% @reviews.each do |review| %>
	<div class="myList">
		<ul>
			<li><%= link_to(review.comment, review) %></li>
			<li><%= review.comment %></li>
			<li><%= review.rating %></li>
		</ul>
	</div>
<%end%>